
.login
{
    width: 360px;
    padding:15px;
    margin:auto;
}
.reg-form{
    display: none;
    width: 360px;
    padding:15px;
    margin:auto
}

#info1{
    
    font-family: Helvetica;
    border:0;
    padding: 10px;
    text-align:center;
    margin-left: 150px;
    cursor: pointer;

}
#info2{
    display:none;
    font-family: Helvetica;
    border:0;
    padding: 10px;
    text-align:center;
    cursor: pointer;

}



.reg-form input{
    font-family: Helvetica;
    position: relative;
    z-index: 1;
    width: 380px;
    margin: 0 auto 10px;
    padding: 20px;
    text-align: center;
    outline: 1;
    width:100%;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
}


.login-form input{
    font-family: Helvetica;
    position: relative;
    z-index: 1;
    width: 380px;
    margin: 0 auto 10px;
    padding: 20px;
    text-align: center;
    outline: 1;
    width:100%;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
}

.phone{
    position:relative;
    display:none;
    margin-top:50%;
    margin-bottom: 50%;
    width: 360px;
    padding: 15px;
    margin:auto;
}
.phone input{
    font-family: Helvetica;
    position: relative;
    z-index: 1;
    width: 100px;
    margin: 0 auto 10px;
    padding: 20px;
    text-align: center;
    outline: 1;
    width:100%;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    box-sizing: border-box;
}
#or{
    position:fixed;
    display: none;
    margin:50%;
    padding:10px;
 
    
}

.phone-checkbox{
    margin-left: 300px;
}
.email-checkbox{
    margin-left: 300px;
}
#first{
    border: dotted 1px;
    display: block;
    cursor:move;
    position: relative;
}
#second{
    position:relative;
    margin-top:75px;
    margin-bottom: 75px;
    display:none;
    border: dotted 1px;  
    padding: 5px;
    cursor:move;
    
}
#third{
    display:none;
    order: dotted 1px;    
    padding: 5px;
    cursor:move;
    
}

.draggable.dragging {
    opacity: .5;
  }
.flex-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    }
    